<div class="user-edit-form">
  <h2>User info</h2>
  <%= form_with model: @user, url: user_path(@user), local: true, method: :patch, html: { multipart: true } do |f| %>

    <!-- Name -->
    <div class="field">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <!-- Image -->
    <div class="field">
      <%= f.label :image, "Image" %>
      <input class="form-control-file user_image" accept="image/*" type="file" name="user[profile_image]" id="user_profile_image">
    </div>

    <!-- Introduction -->
    <div class="field">
      <%= f.label :introduction, "Introduction" %>
      <%= f.text_area :introduction, class: 'form-control' %>
    </div>

    <!-- Submit Button -->
    <div class="action">
      <%= f.submit "Update User", class: 'btn btn-primary' %>
    </div>

  <% end %>
</div>