<div class="user-edit-form">

  <h2>User info</h2>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model: @user, local: true, multipart: true do |f| %>

    <!-- Name -->
    <div class="field">
      <%= f.label :name, "Name" %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <!-- Image -->
    <div class="field">
      <%= f.label :image, "Image" %>
      <%= f.file_field :image, accept: 'image/*', class: 'form-control' %>
    </div>

    <!-- Introduction -->
    <div class="field">
      <%= f.label :introduction, "Introduction" %>
      <%= f.text_area :introduction, class: 'form-control' %>
    </div>

    <!-- Submit Button -->
    <div class="actions">
      <%= f.submit "Update User", class: 'btn btn-primary' %>
    </div>

  <% end %>
</div>