<div class="container">
  <div class="row">
    <!-- 左側： User info と New Book -->
    <div class="col-md-3">
      <div class="user-info">
        <h2>User Info</h2>
        <%= image_tag @user.get_profile_image(100,100) %>
        <%#= image_tag(current_user.profile_image.attached? ? current_user.profile_image : 'no_image.jpg', alt: 'User Image') %>
        <p>Name: <%= @user.name %></p>
        <p>Introduction: <%= @user.introduction %></p>
        <%= link_to '<i class="fa-solid fa-user-gear"></i>'.html_safe, edit_user_path(@user), class: 'edit-profile-link' %>
      </div>

      <%= render 'books/newbook' %>
    </div>

    <!-- 右側： Books リスト -->
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>

      <table  class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @user.books.each do |book| %>
            <tr>
              <td>
                <%= link_to user_path(book.user) do %>
                  <%= image_tag @user.get_profile_image(100,100) %>
                <% end %>
              </td>
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
              <td>
                <% if book.favorited_by?(current_user) %>
                  <p>
                    <%= link_to book_favorite_path(book), method: :delete do %>
                      <i class="fa-solid fa-heart"></i><%= book.favorites.count %>
                    <% end %>
                  </p>
                  <% else %>
                  <p>
                    <%= link_to book_favorite_path(book), method: :post do %>
                      <i class="fa-solid fa-heart"></i><%= book.favorites.count %>
                    <% end %>
                  </p>
                <% end %>
              </td>
              <td>
                <p>コメント件数：<%= @user.book_comments.count %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>