<div class="user-info">
  <h2>User Info</h2>
  <%= image_tag(current_user.image.attached? ? url_for(current_user.image) : 'no_image.jpg', alt: 'User Image') %>
  <p>Name: <%= current_user.name %></p>
  <p>Introduction: <%= current_user.introduction %></p>
  <%= link_to '<i class="fa-solid fa-user-gear"></i>'.html_safe, edit_user_registration_path, class: 'edit-profile-link' %>
</div>

<div class="new-book">
  <h2>New Book</h2>
  <%= form_with(model: @new_book, local: true) do |form| %>
    <div class="field">
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :body, "opinion" %><br>
      <%= form.text_area :body %>
    </div>

    <div class="actions">
      <%= form.submit "Create Book" %>
    </div>
  <% end %>
</div>