<div class="left-sidebar">
  <h2>User Info</h2>
  <div class="user-info">
    <%= image_tag(current_user.image.attached? ? url_for(current_user.image) : 'no_image.jpg', alt: 'User Image') %>
    <p>Name: <%= current_user.name %></p>
    <p>Introduction: <%= current_user.introduction %></p>
    <%= link_to 'Edit Profile', edit_user_registration_path %>
  </div>

  <h2>New Book</h2>
  <%= form_with(model: @new_book, local: true) do |form| %>
    <div class="field">
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :body, "opinion" %><br>
      <%= form.text_area :body %>
    </div>

    <div class="actions">
      <%= form.submit "Create Book" %>
    </div>
  <% end %>
</div>

<div class="book-list">
  <h2>Books</h2>
  <table>
  <thead>
    <tr>
      <th>User Image</th>
      <th>Title</th>
      <th>Body</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= image_tag(book.user.image.attached? ? url_for(book.user.image) : 'no_image.jpg', alt: 'User Image', class: 'profile-image') %>
        </td>
        <td><%= link_to book.title, book_path(book) %></td>
        <td><%= book.body %></td>
        <td><%= link_to 'View User', user_path(book.user) %></td>
      </tr>
    <% end %>
  </tbody>
</div>