<div class="container">
  <div class="row">
    <!--左側：User infoとNew Book-->
    <div class="col-md-4">
      <%= render 'sidebar' %>
    </div>

    <!--右側：Books-->
    <div class="col-md-8">
      <h2>Books</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>User Image</th>
            <th>Title</th>
            <th>Body</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <%= image_tag(book.user.image.attached? ? url_for(book.user.image) : 'no_image.jpg', alt: 'User Image', class: 'profile-image') %>
              </td>
              <td><%= link_to book.title, book_path(book) %></td>
              <td><%= book.body %></td>
              <td><%= link_to 'View User', user_path(book.user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
</div>